* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

body {
    min-height: 100vh;
    max-width: 100%;

}
.main-container {
    display: flex;
    flex-direction: row;
    gap: 8px;

}

.left-container {
    width: calc(100% - 300px);
}

.left-container-input {
    padding-left: 16px;
    padding-right: 16px;
}

.span-ctn {
    padding-top: 16px;
}
.span-color {
    color: rgb(255, 128, 0);
    
    font-size: 14px;
}

.opener-controll {
    height: 200px;
    width: 100%;
    object-fit: cover;
}




/*------Dishes navbar*/
.menu-bar-container {
    height: 40px;
    background-color: rgb(219, 219, 219);
    margin-top: 16px;
}

.menu-bar {
    display: flex;
    gap: 20px;
    text-align: center;
    padding-top: 10px;
    padding-left: 16px;
}
.menu-bar a:hover{
    color: rgb(255, 128, 0);
}

.menu-bar a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}
/*------dishes on main*/
.main-food img{
    height: 150px;
    object-fit: cover;
    width: 100%;
    padding-top: 16px;
}
.main-food span {
    padding-left: 8px;
    font-weight: 800;
    font-size: 24px;
}

.all-dishes {
    padding-top: 16px;
    padding-left: 8px;
}
.border-controller{
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.pizza-salami {
    line-height: 30px;
    border-style: solid;
    border-color: rgb(211, 211, 211);
    margin-top: 16px;
}
.pizza-salami:hover {
    background-color: rgba(255, 128, 0, 0.247);
}
.pizza-salami p {
    color: rgb(255, 128, 0);
}


/* Warenkorb*/
.right-container {
    width: 300px;
    flex-grow: 1;
    box-shadow: -4px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.basked {
    position: sticky;
    width: 100%;
}
.basked-input{
    display: flex;
    justify-content: center;
    padding-top:16px;
    padding-bottom: 16px;
}
.basked-dishes-input {
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;

}
.amount-price-delete {
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
}
.amount-price-delete span {
    font-size: 14px;
}
.amount-price-delete img {
    width: 20px;
    cursor: pointer;
}

.change-icon-1:hover {
    width: 20px;
    background: url('/assets/icon/icon-minus-orange.png');
}

.seperation {
    margin-top: 16px;
}

.total-price {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
}
